.ProductListing_Component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading2{
    font-style: monospace;
    font-weight:600;
    font-size: 18px;
}
.order_plist{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order_plist .productItems{
    font-family: monospace;
    font-size: 15px;
}

.clickButton{
    background-color: #747874;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}