
.heading2{
    font-style: oblique;
    font-weight: 500;
    font-size: 18px;
}

ol,.productItems{
    font-family: monospace;
    font-size: 15px;
}

.clickButton{
    background-color: #747874;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}