
.heading {
    text-align: center;
    text-shadow: 0 0 10px aliceblue;
    margin: 2rem 0  ;
    padding: 10px;
    border-top: 1px solid aliceblue;
    border-bottom: 1px solid aliceblue;
}

.btcontainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hexColor , .randomColor , .rgbColor{
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight:500;
}

.info{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    font-size: 30px;
}