.sec04{
    height: 60vh;
}

.img{
    position: relative;
    z-index: 0;
}

.img img{
    height: 50vh;
    width:100%;
}

.buttons{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.buttons button{
    background-color: transparent;
    border-radius: 50% ;
    border: 1px solid #fff;
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms ease;
}

.buttons button:hover{
    transform: scale(1.5);
    box-shadow: 0 0 10px aliceblue;
}
