.skillHead {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text-head-color);
    text-shadow: 0 0 6px var(--text-head-color);
    font-family: "Syncopate", sans-serif;
    text-align: center;
    margin: 5rem 0;
}

.skillList{
    display: flex;
    justify-content: center;
    color: var(--text-body-color);
    flex-wrap: wrap;
    font-size: 1.2rem;
    gap: 50px;
    padding: 30px;
    font-family: 'Bona Nova SC';
    

    img{
        filter: invert();
        height: 1.5rem;
        border-radius:50% ;
    }
}

span{
    display: flex;
    align-items: center;
    gap: 10px;
}

hr{
    width: 70%;
    border: 1px solid var(--text-body-color);
}