.heading {
  text-align: center;
  text-shadow: 0 0 10px aliceblue;
  margin: 2rem 0;
  padding: 10px;
  border-top: 1px solid aliceblue;
  border-bottom: 1px solid aliceblue;
}
.sec04{
  height: 80vh;
}

.container{
  border: 1px solid aliceblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 60vh;
  overflow: auto;
}

.prod-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
}

.prod{
  padding: 10px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items:center;
}

.btn{
  padding: 10px;
  display: flex;
  justify-content: center;
}

