:root{
    --background-color: rgb(223, 223, 223);
    --btn-color: rgb(42, 87, 192);
    --btn-text-color:rgb(255, 255, 255);
    --card-bg:rgb(34, 34, 34);
    --text-head-color:rgb(0, 0, 0);
    --text-body-color:rgb(82, 82, 82);
    --text-color:rgb(0, 0, 0);
    --form-text-color:rgb(79, 79, 79);
    --footer-text-color:rgb(161, 161, 161);
    --btn-hover:rgb(10, 57, 167);
    --hover:rgb(10, 57, 167);
}

[data-theme = 'dark']{
    --background-color: rgb(0, 0, 0);
    --btn-color: rgb(49, 49, 49);
    --btn-text-color:rgb(255, 235, 184);
    --card-bg:rgb(215, 215, 215);
    --text-head-color:rgb(255, 235, 184);
    --text-body-color:rgb(185, 185, 185);
    --text-color:rgb(255, 255, 255);
    --form-text-color:rgb(255, 246, 246);
    --footer-text-color:rgb(161, 161, 161);
    --hover:rgb(255, 235, 184);
    --btn-hover:rgb(255, 235, 184);
}

body{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 15rem;
}
